body {
	font-size: 14px;
	color: navy;
}
#top {
	background-color: #ccc;
	padding: 20px;
}
.intro {
	color: red;
	font-weight: bold;
}
body p {
	margin: 1px 5px 10px 20px;
	font-weight: bold;
	font-size: 60px;
	border: 1px red solid;
}

p {
    font: 14px/1.5 "Times New Roman", times, serif;
    padding: 30px 10px;
    border: 1px black solid;
    border-width: 1px 5px 5px 1px;
    border-color: red green blue yellow;
    margin: 10px 50px;
}
